body {
    margin: 0 auto;
    width: 400px;
}


.balance_img {
    width: 375px;
    height: 270px;
}

.where_js_img {
    width: 375px;
    height: 270px;
}

.relax_img {
    width: 375px;
    height: 270px;
}


.meme_block:not(:hover) .meme_img {
    height: 0;
    opacity: 0;
    visibility: visible;
}

/* .you_cant_img:has(input:checked).you_cant_img {
    height: 520px;
    opacity: 1;
    visibility: visible;
} */

 .meme_block input:checked ~ .meme_img {
    height: 17em;
    opacity: 1;
    visibility: visible;
}    

/* .meme_img {
    height: 0;
}  */

/* .name_accord:checked {
    background-color: #db2c2c;
} */

input {
    display: none;
}

/* label p {
    border-top: 0.025em solid #a1a1a1;
} */

.cross {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #717171;
    transition: 0.5s;
}

.all_cross {
    margin-top: 1em;
}

.row {
    display: flex;
    justify-content: space-between;
    border-top: 0.025em solid #a1a1a1;
}

.cross:nth-of-type(2) {
    transform: translateY(-2px) rotate(0.25turn);
}

.meme_block:hover .cross:nth-of-type(1), label input:checked ~ .cross:nth-of-type(1) {
    transform: translateY(-2px) rotate(-0.13turn);
}

.meme_block:hover .cross:nth-of-type(2), label input:checked ~ .cross:nth-of-type(2)  {
    transform: translateY(-3px) rotate(0.12turn);
}

